venv/
ccpd_dataset/train/
ccpd_dataset/val/
ccpd_dataset/test/
ccpd_annotations/
PDLPR/checkpoints
cropped_plates_detected/test/labels_text
cropped_plates_detected/train/labels_text
cropped_plates_detected/val/labels_text
cropped_plates_detected/test
cropped_plates_detected/train
cropped_plates_detected/val
yolo_dataset/images/test
yolo_dataset/images/train
yolo_dataset/images/val
yolo_dataset/labels/test
yolo_dataset/labels/train
yolo_dataset/labels/val
yolov5/
dataset_tools.py
yolov5s.pt

runs/
__pycache__/
*.pyc
*.cache
.DS_Store